<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Swiss Freeplay</title>
</head>
<header>
    <h1>Swiss Freeplay</h1>
    <a href="/login">Login</a>
</header>
<body>

<table>
    <thead>
        <th>Baan</th>
        <th>Naam</th>
        <th>Team 1</th>
        <th>Team 2</th>
    </thead>
    <tbody id="court-table-body">

    </tbody>
</table>

<br><br>
<script src="{{ url_for('static', filename='js/courts.js') }}"></script>

<script src="{{ url_for('static', filename='js/matches.js') }}"></script>


<div class="table-container">
    <table id="matches">
        <thead>
            <tr>
                <th>Team 1</th>
                <th>Team 2</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            </tbody>
    </table>
</div>
</body>
</html>